In [156]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker

In [157]:
def dataset_path(csv_name):
    import os
    return os.path.join('input', csv_name)
    
    
results = pd.read_csv(dataset_path('results.csv'))
results.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [158]:
# 对比队名
worldcup_teams = ['Australia', 'Iran', 'Japan', 'Korea Republic', 
            'Saudi Arabia', 'Egypt', 'Morocco', 'Nigeria', 
            'Senegal', 'Tunisia', 'Costa Rica', 'Mexico', 
            'Panama', 'Argentina', 'Brazil', 'Colombia', 
            'Peru', 'Uruguay', 'Belgium', 'Croatia', 
            'Denmark', 'England', 'France', 'Germany', 
            'Iceland', 'Poland', 'Portugal', 'Russia', 
            'Serbia', 'Spain', 'Sweden', 'Switzerland']
history_team_df = results['home_team'].append(results['away_team'],ignore_index=True).unique()
set(worldcup_teams) - set(history_team_df)

set()

In [159]:
df_teams_home = results[results['home_team'].isin(worldcup_teams)]
df_teams_away = results[results['away_team'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_home, df_teams_away))
df_teams.drop_duplicates()
# 1930 第一届世界杯
df_teams['year'] = df_teams['date'].apply(lambda x: int(x[:4]))
df_teams = df_teams[df_teams['year'] >= 1930]


# 处理result 主客和 => 1,-1,0
df_teams['winner_team'] = np.where(df_teams['home_score'] > df_teams['away_score'],1,-1)
df_teams.loc[df_teams['home_score'] == df_teams['away_score'],'winner_team'] = 0

df_teams['score_diff'] = np.absolute(df_teams['home_score'] - df_teams['away_score'])
df_teams.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,winner_team,score_diff
1230,1930-01-01,Spain,Czechoslovakia,1,0,Friendly,Barcelona,Spain,False,1930,1,1
1231,1930-01-12,Portugal,Czechoslovakia,1,0,Friendly,Lisbon,Portugal,False,1930,1,1
1237,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,False,1930,1,2
1238,1930-03-02,Germany,Italy,0,2,Friendly,Frankfurt am Main,Germany,False,1930,-1,2
1240,1930-03-23,France,Switzerland,3,3,Friendly,Colombes,France,False,1930,0,0
1241,1930-04-05,England,Scotland,5,2,British Championship,London,England,False,1930,1,3
1243,1930-04-13,France,Belgium,1,6,Friendly,Colombes,France,False,1930,-1,5
1244,1930-04-13,Switzerland,Hungary,2,2,Friendly,Basel,Switzerland,False,1930,0,0
1250,1930-05-04,Switzerland,Germany,0,5,Friendly,Zürich,Switzerland,False,1930,-1,5
1252,1930-05-10,Germany,England,3,3,Friendly,Berlin,Germany,False,1930,0,0

In [160]:
# df_teams = df_teams[['home_team','away_team','winner_team','home_score','away_score','score_diff']].reset_index(drop=True)
df_teams = df_teams[['home_team','away_team','winner_team']].reset_index(drop=True)
df_teams.head()

  home_team       away_team  winner_team
0     Spain  Czechoslovakia            1
1  Portugal  Czechoslovakia            1
2  Portugal          France            1
3   Germany           Italy           -1
4    France     Switzerland            0

In [161]:
df_teams = pd.get_dummies(df_teams, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])
df_teams.head()

,winner_team,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,home_team_Argentina,home_team_Armenia,home_team_Aruba,home_team_Australia,...,away_team_Venezuela,away_team_Vietnam,away_team_Vietnam Republic,away_team_Wales,away_team_Western Australia,away_team_Yemen,away_team_Yemen DPR,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [162]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20054 entries, 0 to 20053
Columns: 414 entries, winner_team to away_team_Zimbabwe
dtypes: int64(1), uint8(413)
memory usage: 8.1 MB

In [163]:

# from sklearn import preprocessing
# label_encode = preprocessing.OneHotEncoder()
# all_team_name = df_teams['home_team'].append(df_teams['away_team'],ignore_index=True).unique()
# label_encode.fit(all_team_name)
# home_team = label_encode.transform(df_teams['home_team'])
# away_team = label_encode.transform(df_teams['away_team'])

# print(home_team[:6])
# print(away_team[:6])

from sklearn.model_selection import train_test_split
X = df_teams.drop('winner_team',axis=1)
y = df_teams['winner_team']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20054 entries, 0 to 20053
Columns: 413 entries, home_team_Afghanistan to away_team_Zimbabwe
dtypes: uint8(413)
memory usage: 7.9 MB

In [185]:
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
parameters = {
    'C':np.linspace(1, 10, 30),
#     'penalty':['l1','l2']
}
# clf = LinearSVC(random_state=10,dual=True,)
clf = LogisticRegression(random_state=10)
# grid = GridSearchCV(clf,parameters,n_jobs=-1)
# grid.fit(X,y)
clf.fit(X_train,y_train)
score = clf.score(X_train, y_train)
score2 = clf.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.575
Test set accuracy:  0.559

In [186]:
# grid = GridSearchCV(clf,parameters,n_jobs=-1)
# grid.fit(X,y)
# print(grid.best_score_)
# print(grid.best_params_)

In [210]:
# This year data
schedule = pd.read_csv(dataset_path('fixtures.csv'))
rank = pd.read_csv(dataset_path('fifa_rankings.csv'))
# fifa_rankings.csv
# fixtures.csv
schedule.head()

,Round Number,Date,Location,Home Team,Away Team,Group,Result
0,1,14/06/2018 18:00,"Luzhniki Stadium, Moscow",Russia,Saudi Arabia,Group A,NaN
1,1,15/06/2018 15:00,Ekaterinburg Stadium,Egypt,Uruguay,Group A,NaN
2,1,15/06/2018 18:00,Saint Petersburg Stadium,Morocco,Iran,Group B,NaN
3,1,15/06/2018 21:00,"Fisht Stadium, Sochi",Portugal,Spain,Group B,NaN
4,1,16/06/2018 13:00,Kazan Arena,France,Australia,Group C,NaN

In [222]:
# schedule.insert(1, 'first_position', schedule['Home Team'].map(rank.set_index('Team')['Position']))
# schedule.insert(2, 'second_position', schedule['Away Team'].map(rank.set_index('Team')['Position']))
schedule = schedule.iloc[:48, :]

# pred_set = []
# for index, row in schedule.iterrows():
#     if row['first_position'] < row['second_position']:
#         pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team']})
#     else:
#         pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team']})
# input_set = pd.DataFrame(pred_set)


input_set = pd.DataFrame({
    'home_team':schedule['Home Team'],
    'away_team':schedule['Away Team'],
})


input_set.head()

  home_team     away_team
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2   Morocco          Iran
3  Portugal         Spain
4    France     Australia

In [223]:
temp_set = input_set
temp_set = pd.get_dummies(temp_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])
train_columns = X.columns

train_columns

Index(['home_team_Afghanistan', 'home_team_Albania', 'home_team_Algeria',
       'home_team_Andorra', 'home_team_Angola', 'home_team_Argentina',
       'home_team_Armenia', 'home_team_Aruba', 'home_team_Australia',
       'home_team_Austria',
       ...
       'away_team_Venezuela', 'away_team_Vietnam',
       'away_team_Vietnam Republic', 'away_team_Wales',
       'away_team_Western Australia', 'away_team_Yemen', 'away_team_Yemen DPR',
       'away_team_Yugoslavia', 'away_team_Zambia', 'away_team_Zimbabwe'],
      dtype='object', length=413)

In [224]:
# 补充列数 与train set 相同
missing_cols = set(train_columns) - set(temp_set.columns)
for c in missing_cols:
    temp_set[c] = 0
    

temp_set.head()

,home_team_Argentina,home_team_Australia,home_team_Belgium,home_team_Brazil,home_team_Colombia,home_team_Costa Rica,home_team_Croatia,home_team_Denmark,home_team_Egypt,home_team_England,...,away_team_Curaçao,home_team_Hong Kong,away_team_Finland,away_team_Burma,away_team_Canada,away_team_Grenada,home_team_St. Lucia,home_team_Norway,away_team_Bangladesh,away_team_Palestine
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
predict_set = clf.predict(temp_set)

predict_set

array([ 1,  1,  1,  1, -1,  1,  1, -1,  1,  1, -1, -1,  1, -1,  1, -1,  1,
        1, -1, -1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,
        1, -1,  0,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1])

In [226]:
predict_pro = clf.predict_proba(temp_set)
predict_pro

array([[0.32171818, 0.24386997, 0.43441185],
       [0.1252625 , 0.23317997, 0.64155753],
       [0.12650903, 0.17647621, 0.69701476],
       [0.28432369, 0.04149797, 0.67417833],
       [0.43454862, 0.22551923, 0.33993215],
       [0.23647391, 0.11406665, 0.64945944],
       [0.16353921, 0.27069843, 0.56576236],
       [0.43125464, 0.24533336, 0.32341201],
       [0.08041058, 0.09629037, 0.82329905],
       [0.35829568, 0.0857433 , 0.55596102],
       [0.69815692, 0.04362816, 0.25821492],
       [0.65595137, 0.06826275, 0.27578588],
       [0.09785785, 0.14884717, 0.75329498],
       [0.66575933, 0.17812742, 0.15611325],
       [0.0820913 , 0.32697904, 0.59092966],
       [0.57191158, 0.14020223, 0.28788618],
       [0.12565414, 0.1426489 , 0.73169696],
       [0.12523443, 0.10720143, 0.76756414],
       [0.47811653, 0.19796121, 0.32392226],
       [0.8245126 , 0.04980969, 0.12567771],
       [0.38840865, 0.30651329, 0.30507806],
       [0.17138852, 0.20999037, 0.61862111],
       [0.35754291, 0.11883756, 0.52361953],
       [0.7011046 , 0.04159133, 0.25730407],
       [0.21595385, 0.09968784, 0.68435831],
       [0.40229362, 0.12004282, 0.47766356],
       [0.03152833, 0.13838376, 0.83008791],
       [0.15780125, 0.10854158, 0.73365718],
       [0.21312691, 0.06343072, 0.72344236],
       [0.09186121, 0.13939981, 0.76873898],
       [0.44827353, 0.06708893, 0.48463754],
       [0.20637619, 0.19880033, 0.59482348],
       [0.5470259 , 0.07566347, 0.37731064],
       [0.03407625, 0.14465725, 0.8212665 ],
       [0.06816401, 0.14394478, 0.78789121],
       [0.57857043, 0.17686745, 0.24456212],
       [0.29092926, 0.43541469, 0.27365606],
       [0.21120898, 0.12139295, 0.66739807],
       [0.29932643, 0.20753995, 0.49313362],
       [0.5517352 , 0.07151947, 0.37674532],
       [0.50484476, 0.05657849, 0.43857675],
       [0.26860649, 0.1847696 , 0.54662391],
       [0.33927625, 0.17747735, 0.4832464 ],
       [0.2443403 , 0.09694615, 0.65871355],
       [0.32473179, 0.05464302, 0.62062519],
       [0.11419497, 0.3784208 , 0.50738422],
       [0.0357128 , 0.13009806, 0.83418914],
       [0.04489353, 0.13301036, 0.82209612]])

In [253]:
input_set['winner_result'] = predict_set
input_set['winner_team'] = np.where(input_set['winner_result']> 0,input_set['home_team'],input_set['away_team'])
input_set.loc[input_set['winner_result']==0,'winner_team'] = 'Draw'
input_set.drop(columns='winner_result',inplace=True)


format_func = lambda x: '{:.3%}'.format(x)

In [256]:
input_set['主'] = pd.Series(predict_pro[:,2]).apply(format_func)
input_set['和'] = pd.Series(predict_pro[:,1]).apply(format_func)
input_set['客'] = pd.Series(predict_pro[:,0]).apply(format_func)


input_set

         home_team       away_team     winner_team        主        和        客
0           Russia    Saudi Arabia          Russia  43.441%  24.387%  32.172%
1            Egypt         Uruguay           Egypt  64.156%  23.318%  12.526%
2          Morocco            Iran         Morocco  69.701%  17.648%  12.651%
3         Portugal           Spain        Portugal  67.418%   4.150%  28.432%
4           France       Australia       Australia  33.993%  22.552%  43.455%
5        Argentina         Iceland       Argentina  64.946%  11.407%  23.647%
6             Peru         Denmark            Peru  56.576%  27.070%  16.354%
7          Croatia         Nigeria         Nigeria  32.341%  24.533%  43.125%
8       Costa Rica          Serbia      Costa Rica  82.330%   9.629%   8.041%
9          Germany          Mexico         Germany  55.596%   8.574%  35.830%
10          Brazil     Switzerland     Switzerland  25.821%   4.363%  69.816%
11          Sweden  Korea Republic  Korea Republic  27.579%   6.826%  65.595%
12         Belgium          Panama         Belgium  75.329%  14.885%   9.786%
13         Tunisia         England         England  15.611%  17.813%  66.576%
14        Colombia           Japan        Colombia  59.093%  32.698%   8.209%
15          Poland         Senegal         Senegal  28.789%  14.020%  57.191%
16          Russia           Egypt          Russia  73.170%  14.265%  12.565%
17        Portugal         Morocco        Portugal  76.756%  10.720%  12.523%
18         Uruguay    Saudi Arabia    Saudi Arabia  32.392%  19.796%  47.812%
19            Iran           Spain           Spain  12.568%   4.981%  82.451%
20         Denmark       Australia       Australia  30.508%  30.651%  38.841%
21          France            Peru          France  61.862%  20.999%  17.139%
22       Argentina         Croatia       Argentina  52.362%  11.884%  35.754%
23          Brazil      Costa Rica      Costa Rica  25.730%   4.159%  70.110%
24         Nigeria         Iceland         Nigeria  68.436%   9.969%  21.595%
25          Serbia     Switzerland          Serbia  47.766%  12.004%  40.229%
26         Belgium         Tunisia         Belgium  83.009%  13.838%   3.153%
27  Korea Republic          Mexico  Korea Republic  73.366%  10.854%  15.780%
28         Germany          Sweden         Germany  72.344%   6.343%  21.313%
29         England          Panama         England  76.874%  13.940%   9.186%
30           Japan         Senegal           Japan  48.464%   6.709%  44.827%
31          Poland        Colombia          Poland  59.482%  19.880%  20.638%
32         Uruguay          Russia          Russia  37.731%   7.566%  54.703%
33    Saudi Arabia           Egypt    Saudi Arabia  82.127%  14.466%   3.408%
34            Iran        Portugal            Iran  78.789%  14.394%   6.816%
35           Spain         Morocco         Morocco  24.456%  17.687%  57.857%
36         Denmark          France            Draw  27.366%  43.541%  29.093%
37       Australia            Peru       Australia  66.740%  12.139%  21.121%
38         Nigeria       Argentina         Nigeria  49.313%  20.754%  29.933%
39         Iceland         Croatia         Croatia  37.675%   7.152%  55.174%
40          Mexico          Sweden          Sweden  43.858%   5.658%  50.484%
41  Korea Republic         Germany  Korea Republic  54.662%  18.477%  26.861%
42          Serbia          Brazil          Serbia  48.325%  17.748%  33.928%
43     Switzerland      Costa Rica     Switzerland  65.871%   9.695%  24.434%
44           Japan          Poland           Japan  62.063%   5.464%  32.473%
45         Senegal        Colombia         Senegal  50.738%  37.842%  11.419%
46          Panama         Tunisia          Panama  83.419%  13.010%   3.571%
47         England         Belgium         England  82.210%  13.301%   4.489%